.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* header style */
.header .brand-logo {
  position: static;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}
/* убераем полосу на фокусе */
.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}
/* уменьшили ширину */
.header .currency-select {
  width: 120px;
}
/* меняем цвет стрелочки (через fill, потому что стрелочка svg) */
.header .currency-select .caret {
  fill: #fff;
}

.header .brand-logo {
  font-size: 1.5rem;
}

.ticket-airline-img {
  height: 5em;
  width: 5em;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-right: 2em;
}

.ticket-airline-name {
  font-weight: bold;
}

.ticket-city {
  text-transform: uppercase;
  font-size: 20px;
}

i.medium.material-icons {
  font-size: 1.5rem;
}

.ticket-destination {
  border-bottom-color: #bbbbbb;
  border-bottom-style: dotted;
}

.ticket-card {
  padding: 1em;
}

.ticket-price {
  font-size: 1.5em;
  background-color: #6a1b9a;
  color: #fff;
}

.ticket-time-price {
  margin-top: 0.5em;
}

.ticket-time-departure {
  font-size: 13px;
  font-weight: bold;
  color: #9b9b9b;
}

.ticket-flight-number {
  font-size: 12px;
  font-weight: bold;
}

.ticket-transfers {
  font-size: 12px;
  font-weight: bold;
}

.dropdown-content li > span {
  color: #8b54f1 !important;
}

input#autocomplete-origin:focus {
  border-bottom: 1px solid #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}

input#autocomplete-destination:focus {
  border-bottom: 1px solid #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}

.datepicker-date-display {
  background-color: #6a1b9a !important;
}

.datepicker-cancel,
.datepicker-done {
  color: #6a1b9a !important;
}

.is-today {
  color: #6a1b9a !important;
}

td.is-selected:active {
  background-color: #6a1b9a !important;
  color: #fff !important;
}

td.is-selected {
  background-color: #ad1457 !important;
  color: #fff !important;
}

input#datepicker-depart:focus {
  border-bottom: 1px solid #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}

input:focus + label {
  color: #9e9e9e !important;
}

input#datepicker-return:focus {
  border-bottom: 1px solid #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}

label.active:focus {
  color: #6a1b9a;
}
